.top {
    border-bottom: 1px solid #ddd;
}

.top .inner {
    width: 1200px;
    margin: 0 auto;
    line-height: 30px;
}

.top .inner ul {
    display: flex;

}

.header {
    line-height: 100px;
    border-bottom: 1px solid #ddd;
    background: #f9f9f9;


}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;


}

.section {
    padding: 50px 0;
}



.section .inner {
    width: 1200px;
    margin: 0 auto;
}

.section h2 {
    display: block;
    margin: 20px 30px 20px 0;
    padding: 10px 5px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(108, 170, 0);

}

.section .inner ul {
    display: block;
    display: flex;
    margin: 20px 0;
    font-size: 16px
}

.section ul {
    display: block;
    display: flex;
    margin: 20px 0;
    font-size: 20px;
    gap: 20px;
}

.section ul:hover {
    color: rgb(108, 170, 0);
}